*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #1C543F;
}
.navbar{
    background-color: #1C543F;
    border-style: none none solid none;
    border-color: #1C543F;
    width: 100%;
    height: 70px;
    
    display: flex;
    position: fixed;
    top: 0%;
    z-index: 1;
    border-bottom: 8px solid #4BB756 ;
}


.kosong{
    background-color: 4BB756;
}
.logo p{
    font-size: 50px;
    position: relative;
    left: 10px;
    color: white;
}
.menu a{
    color: white;
    
    display: flex;
    text-decoration: none;
    text-align: center;
    margin-right: 25px;
    
    font-size: 20px;
    
}
.menu a:hover{
    color: black;
}
.menu ul{
    right: -900px;
    position: relative;
    padding: 5px;
    margin: 0;
    display: flex;
    top: 20px;
    
}
.logoimg img{
    width: 55px;
    margin: 7px;
    position: relative;
    right: -1080px;
}
.atas{
    
    width: 100%;
    height: 100%;
    margin-top: 100px;
    
}
.foto img{
    width: 350px;
    margin-top: 100px;
    position: relative;
    margin-right: -500px;
    border: 50px solid #1C543F;
    border-radius: 100PX;
    
}
.text{
    color: white;
    margin-top: 150px;
    width: 500px;
    float: left;
    text-align: left;
    margin-left: 50px;
}
.text h1{
    text-align: left;
}
.text button{
    background-color: #4BB756;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-top: 90px;
    margin-right: 100px ;
}
.download-button:hover{
    background-color: green;
}
.hub h1, p{
    margin-bottom: 10px;
    text-align: left;
    
}
.hub p{
    font-size: 22px;
    color: greenyellow;
}
.hub{
    font-size: 22px;
    margin-bottom: 150px;
    margin-left: 250px;
    color: white;
    border-style: none none none solid;
    border-color: greenyellow;
}
.skill h1 {
    font-size: 45px;
    margin-bottom: 200px;
    color: #4BB756;

    
}
.skillFoto img {
    width: 250px;
    margin-right: 100;
    margin-bottom: 65px;
    border-color: #4BB756;
    
    
    
}
.skill {
    border-color: #4BB756;
    height: 1000px;
    
}
.skillFoto {
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 1000px;
    border-color: #000000;
   
    
}
.MYProject {
    font-size: 22PX;
    background-color: #1C543F;
    height: 2000px;
    


}
.project1 h1{
    color: #4BB756;
}
.project1 p {
    font-size: 20px;
    margin-top: 200px;
   width: 750px;
   position: relative;
   margin-left: 80px;
   color: #4BB756;
   
}
.project1 img {
    width: 500px;
    margin-left: 700px ;
    position: relative;
    margin-top: -250px;
}
.project1 button{
    width: 200px;
    height: 50px;
    background-color: #4BB756;
    border-radius: 15px;
    margin-top: 50px;
    


}
.button-project {
    margin-right: 300px;
}
.button-project:hover{
    background-color: green;
}
.project1 button :hover{
   
    background-color: #1C543F;

}
.project1 button :hover{
    
    background-color: #051006;
    

}
.longkap{
    background-color: #1C543F;
}
.contact{
    background-color: #1C543F ;
    text-align: left;
    margin-top: 400px;
    padding: auto;
    color: white;
    
   
}
.contact button:hover{
    background-color: green;
}
.contact h1{
    font-size: 45px;
    color: white;
    

}
textarea{
    resize: none;

}



.contact input, textarea{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: #1C543F;
    border-style: none;
    border: 5px solid #4BB756;
    margin-bottom: 50px;
    color: white;
    font-family: "Lilita one" ,sans-serf;
    font-size:20px;
    border-radius: 10px;
    padding: 10px;
    
    

}
.contact input{
    margin-bottom: 15px;

    
}
::placeholder{
    color: white;
    text-align: left;

}
.footer{
    font-size: 20px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    background-color: #4BB756;
    padding-top: 55px;
    z-index: -1;
    border-radius: 10px;
}
.contact button{
    width: 100px;
    height: 50px;
    background-color: #4BB756;
    border-radius: 20px;
    
    
}

.contact button{
   border-radius: px
}
.footer img{
    width: 60px;
    margin: 20px;
}
.footer h1{
    margin-right: 500px;
    background-color: #4BB756;
}


.project2 h1{
    margin-top: 150px;

}
.project2 h1{
    font-size: 40px;
    color: #4BB756;
    
}
.project2 p{
    font-size: 20px;
    margin-top: 200px;
   width: 750px;
   position: relative;
   margin-left: 80px;
   color: #4BB756;
}
.project2 img{
    width: 500px;
    margin-left: 700px ;
    position: relative;
    margin-top: -250px;
}
.github img{
    width: 50px;
    margin-left: -500px;
    margin-bottom: 2100px;
    background-color: #4BB756;
}

.IG img{
    width: 50px;
    margin-bottom: 2100px;
    background-color: #4BB756;
}
